.root {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  select{
    padding: 10px 15px;
    border-radius: 8px;
  }

  .addBtn{
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid green;
    border-radius: 8px;
    background-color: rgb(84, 209, 0);
    color: black;
  }
}